:root {
    --color-primary: rgb(21, 81, 229);
    --color-primary-100: rgb(242, 246, 255);
    
    // 
    --color-pink: rgb(255, 61, 113);
    // 
    --color-secondary: rgb(130, 142, 173);
    --color-secondary-100: rgb(242, 245, 249);
    
    // 
    --color-gray: 75, 70, 92;
    --color-gray-900: rgb(93, 88, 108);
    --color-gray-800: rgb(111, 107, 125);
    --color-gray-700: rgb(129, 126, 141);
    --color-gray-600: rgb(147, 144, 157);
    --color-gray-500: rgb(165, 162, 174);
    --color-gray-400: rgb(183, 181, 190);
    --color-gray-300: rgb(201, 199, 206);
    --color-gray-200: rgb(219, 218, 222);
    --color-gray-100: rgb(246, 246, 247);
    // 
    --color-green: 40, 199, 111;
    --color-green-900: rgb(30, 149, 83);
    --color-green-800: rgb(32, 159, 89);
    --color-green-700: rgb(34, 169, 94);
    --color-green-600: rgb(36, 179, 100);
    --color-green-500: rgb(40, 199, 111);
    --color-green-400: rgb(83, 210, 140);
    --color-green-300: rgb(126, 221, 169);
    --color-green-200: rgb(169, 233, 197);
    --color-green-100: rgb(212, 244, 226);
    // 
    --color-red: 234, 84, 85;
    --color-red-900: rgb(175, 63, 64);
    --color-red-800: rgb(187, 67, 68);
    --color-red-700: rgb(199, 71, 72);
    --color-red-600: rgb(211, 76, 76);
    --color-red-500: rgb(234, 84, 85);
    --color-red-400: rgb(238, 118, 119);
    --color-red-300: rgb(242, 152, 153);
    --color-red-200: rgb(248, 187, 187);
    --color-red-100: rgb(251, 221, 221);
    // 
    --color-orange: 255, 159, 67;
    --color-orange-900: rgb(191, 119, 50);
    --color-orange-800: rgb(204, 127, 54);
    --color-orange-700: rgb(217, 135, 57);
    --color-orange-600: rgb(229, 143, 60);
    --color-orange-500: rgb(255, 159, 67);
    --color-orange-400: rgb(255, 178, 105);
    --color-orange-300: rgb(255, 197, 142);
    --color-orange-200: rgb(255, 217, 180);
    --color-orange-100: rgb(255, 236, 217);
    // 
    --color-aqua: 0, 207, 232;
    --color-aqua-900: rgb(0, 155, 174);
    --color-aqua-800: rgb(0, 165, 186);
    --color-aqua-700: rgb(0, 176, 197);
    --color-aqua-600: rgb(0, 186, 209);
    --color-aqua-500: rgb(0, 207, 232);
    --color-aqua-400: rgb(51, 217, 237);
    --color-aqua-300: rgb(102, 226, 241);
    --color-aqua-200: rgb(153, 236, 246);
    --color-aqua-100: rgb(204, 245, 250);
    // 
    --white: 255, 255, 255;
    --color-white: rgb(var(--white));
    // 
    --color-heading-text: var(--color-gray-900);
    --color-body-text: var(--color-black);
    --color-muted-text: var(--color-gray-500);
    --color-placeholder-text: var(--color-gray-600);
    // 
    --color-black: rgb(0, 0, 0);
    --color-extra-dark: rgba(75, 75, 75, 1);
    --color-extra-dark-16: rgba(75, 75, 75, 0.16);
    --color-extra-light: rgba(223, 223, 227, 1);
    --color-extra-body-bg: rgba(248, 247, 250, 1);
    --color-extra-card-bg: rgba(255, 255, 255, 1);
    --color-extra-divider: rgba(219, 218, 222, 1);
    --color-extra-white: rgba(255, 255, 255, 1);
    --color-gradient-primary: linear-gradient(45deg, #7367F0 0%, #9E95F5 100%);
}