@mixin display-1 ($color: null) {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    @if $color !=null {
        color: $color;
    }
}
@mixin display-2 ($color: null) {
    font-size: 56px;
    font-weight: 500;
    line-height: 78px;

    @if $color !=null {
        color: $color;
    }
}

@mixin display-3 ($color: null) {
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    @if $color !=null {
        color: $color;
    }
}

@mixin display-4 ($color: null) {
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;

    @if $color !=null {
        color: $color;
    }
}

@mixin heading-1 ($color: null, $weight: 500) {
    font-size: 32px;
    font-weight: $weight;
    line-height: 32px;

    @if $color !=null {
        color: $color;
    }
}

@mixin heading-2 ($color: null, ) {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;

    @if $color !=null {
        color: $color;
    }
}

@mixin heading-3 ($color: null) {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;

    @if $color !=null {
        color: $color;
    }
}

@mixin heading-4 ($color: null) {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    @if $color !=null {
        color: $color;
    }
}

@mixin heading-5 ($color: null) {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    @if $color !=null {
        color: $color;
    }
}

@mixin heading-6 ($color: null) {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;

    @if $color !=null {
        color: $color;
    }
}

@mixin paragraph-lead ($color: null) {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    @if $color !=null {
        color: $color;
    }
}

@mixin paragraph ($color: null, $weight: 400) {
    font-size: 16px;
    font-weight: $weight;
    line-height: 26px;

    @if $color !=null {
        color: $color;
    }
}

@mixin paragraph-small ($color: null, $weight: 400) {
    font-size: 13px;
    font-weight: $weight;
    line-height: 20px;

    @if $color !=null {
        color: $color;
    }
}

@mixin delete ($color: null) {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    text-decoration-line: strikethrough;

    @if $color !=null {
        color: $color;
    }
}

@mixin italicized ($color: null) {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-transform: lowercase;

    @if $color !=null {
        color: $color;
    }
}

@mixin underline ($color: null) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    @if $color !=null {
        color: $color;
    }
}

@mixin caption ($color: null) {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-decoration-line: underline;

    @if $color !=null {
        color: $color;
    }
}



@mixin button-small($color: null) {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.43px;

    @if $color !=null {
        color: $color;
    }
}

@mixin button-default($color: null) {
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.43px;
    @if $color !=null {
        color: $color;
    }
}



@mixin button-large($color: null) {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.43px;

    @if $color !=null {
        color: $color;
    }
}

@mixin input-large($color: null) {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    @if $color !=null {
        color: $color;
    }
}

@mixin input-default($color: null) {
    font-size: 15px;
    font-weight: 400;
    line-height: normal;

    @if $color !=null {
        color: $color;
    }
}

@mixin input-small($color: null) {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;

    @if $color !=null {
        color: $color;
    }
}

@mixin table-header($color: null) {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    @if $color !=null {
        color: $color;
    }
}