@import 'colors', 'typography', 'components';

* {
	font-family: 'Gotham', 'Sans-serif';
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 8px; 
	height: 8px;
	right: 2px;
	&-thumb{
			background-color: #c0bcbc; 
			border-radius:4px;
			&:hover{
					background-color: #a0a0a5;
			}
	}
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container{
	max-width: calc(1680px + 48px);
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.header{
	&_top{
		padding: 24px 0;
	}
	&_bottom{
		padding: 24px 0;
	}
}