.content{
	margin: 32px 0;
	&_swiper{
		width: 100%;
		.swiper_item{
			width: 100%;
			height: 400px;
			border-radius: 20px;
			overflow: hidden;
			.ant-image,
			img{
				height: 100%;
				width: 100%;
					object-position: center;
					object-fit: cover;
			}
			&-thumb{
				width: 100%;
				flex: 100%;
				height: 64px;
				border-radius: 8px;
			}
		}
	}
}
