<template>
  <section class="header">
    <div class="header_top">
      <div class="container">
        <a-row align="middle" :gutter="[24, 24]">
          <a-col>
            <div class="logo">
              <div class="img">
                <img src="/Brand.png" alt="" />
              </div>
            </div>
          </a-col>
          <a-col>
            <GButton color="primary" icon="burger">
              <img src="../../assets/svg/burger.svg" alt="" />
              <GText color="white">Меню</GText>
            </GButton>
          </a-col>
          <a-col style="min-width: 250px" flex="1">
            <a-input
              allowClear
              placeholder="Название запроса"
              style="height: 48px"
            >
              <template #clearIcon>
                <a>
                  <img src="../../assets/svg/x.svg" alt="" />
                </a>
              </template>
              <template #suffix>
                <a>
                  <img src="../../assets/svg/search.svg" alt="" />
                </a>
              </template>
            </a-input>
          </a-col>
          <a-col>
            <img src="../../assets/svg/bell.svg" alt="" />
            <a-divider style="height: 48px" type="vertical"></a-divider>
            <img src="../../assets/svg/heart-def.svg" alt="" />
          </a-col>
          <a-col>
            <GButton color="primary-100">
              <img src="../../assets/svg/shopping-cart.svg" alt="" />
              <GText color="primary" v-if="screen == lg"> 144 235₽ </GText>
            </GButton>
          </a-col>
          <a-col>
            <a-dropdown>
              <a class="ant-dropdown-link" @click.prevent>
                <a-space :size="16">
                  <img src="/Avatar.png" alt="" />
                  <GText color="black" tg="paragraph-600">Ермаков Е.</GText>
                  <img src="../../assets/svg/vector-down.svg" alt="" />
                </a-space>
              </a>
              <template #overlay>
                <a-menu>
                  <a-menu-item>
                    <a-space :size="16">
                      <img src="/Avatar.png" alt="" />
                      <GText color="black" tg="paragraph-600">Ермаков Е.</GText>
                    </a-space>
                  </a-menu-item>
                  <a-menu-item>
                    <a-space :size="16">
                      <img src="/Avatar.png" alt="" />
                      <GText color="black" tg="paragraph-600">Ермаков Е.</GText>
                    </a-space>
                  </a-menu-item>
                  <a-menu-item>
                    <a-space :size="16">
                      <img src="/Avatar.png" alt="" />
                      <GText color="black" tg="paragraph-600">Ермаков Е.</GText>
                    </a-space>
                  </a-menu-item>
                </a-menu>
              </template>
            </a-dropdown>
          </a-col>
        </a-row>
      </div>
    </div>
    <a-divider style="margin: 0"></a-divider>
    <div class="header_bottom">
      <div class="container">
        <a-row align="middle" :gutter="[24, 24]">
          <a-col>
            <nav>
              <a-space align="center" :size="24">
                <GText tag="a">Мои заказы</GText>
                <GText tag="a">Сотрудники</GText>
                <GText tag="a">Шаблоны заказов</GText>
                <GText tag="a">Обращения</GText>
              </a-space>
            </nav>
          </a-col>
          <a-col flex="1"></a-col>
          <a-col>
            <a-space :size="24">
              <GButton size="small" color="primary-100">
                <img src="../../assets/svg/msg.svg" alt="" />
                <GText color="primary"> Ваш менеджер </GText>
              </GButton>
              <div class="sales">
                <a-space :size="16">
                  <img src="../../assets/svg/procent.svg" alt="" />
                  <GText tag="a" color="primary"> Акции </GText>
                </a-space>
              </div>
              <GText tag="a" color="primary"> Блог </GText>
            </a-space>
          </a-col>
        </a-row>
      </div>
    </div>
    <a-divider style="margin: 0"></a-divider>
  </section>
</template>

<script setup></script>
