<template>
  <section class="content">
    <div class="container">
      <a-space style="width: 100%" :size="32" direction="vertical">
        <div class="content_header">
          <a-space direction="vertical" :size="24">
            <div class="breadcrumb">
              <a-breadcrumb>
                <a-breadcrumb-item>Каталог</a-breadcrumb-item>
                <a-breadcrumb-item>Обувь</a-breadcrumb-item>
                <a-breadcrumb-item>Кроссовки</a-breadcrumb-item>
                <a-breadcrumb-item>Беговые</a-breadcrumb-item>
              </a-breadcrumb>
            </div>
            <GText text-transform="uppercase" tg="heading-1"
              >Кроссовки мужские Skechers Sunny Dale</GText
            >
          </a-space>
        </div>
        <div class="content_body">
          <a-row :gutter="[48, 24]">
            <a-col :lg="6" :sm="24">
              <div class="content_swiper">
                <a-row :gutter="[24, 24]">
                  <a-col span="24">
                    <swiper
                      @swiper="setThumbsSwiper"
                      :loop="true"
                      :thumbs="{ swiper: thumbsSwiper }"
                      :modules="modules"
                      :slides-per-view="1"
                      :space-between="50"
                      :navigation="{
                        prevEl: '.custom-swiper-button-prev',
                        nextEl: '.custom-swiper-button-next',
                      }"
                    >
                      <swiper-slide>
                        <div class="swiper_item">
                          <a-image src="/item-1.svg" alt="" />
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="swiper_item">
                          <a-image src="/item-2.svg" alt="" />
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="swiper_item">
                          <a-image src="/item-3.svg" alt="" />
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="swiper_item">
                          <a-image src="/item-4.svg" alt="" />
                        </div>
                      </swiper-slide>
                      <swiper-slide>
                        <div class="swiper_item">
                          <a-image src="/item-5.svg" alt="" />
                        </div>
                      </swiper-slide>
                    </swiper>
                  </a-col>
                  <a-col span="24">
                    <a-row :wrap="false" :gutter="16">
                      <a-col>
                        <GButton
                          class="custom-swiper-button-prev"
                          color="primary-100"
                          size="no-padding"
                        >
                          <img src="../assets/svg/vector-left.svg" alt="" />
                        </GButton>
                      </a-col>
                      <a-col flex="1">
                        <div class="swiper_thumbs">
                          <swiper
                            ref="swiper_thumbs"
                            @swiper="setThumbsSwiper"
                            :loop="true"
                            :watchSlidesProgress="true"
                            :modules="modules"
                            :slides-per-view="4"
                            :space-between="12"
                            :navigation="{
                              prevEl: '.custom-swiper-button-prev',
                              nextEl: '.custom-swiper-button-next',
                            }"
                          >
                            <swiper-slide>
                              <div class="swiper_item swiper_item-thumb">
                                <img src="/item-1.svg" alt="" />
                              </div>
                            </swiper-slide>
                            <swiper-slide>
                              <div class="swiper_item swiper_item-thumb">
                                <img src="/item-2.svg" alt="" />
                              </div>
                            </swiper-slide>
                            <swiper-slide>
                              <div class="swiper_item swiper_item-thumb">
                                <img src="/item-3.svg" alt="" />
                              </div>
                            </swiper-slide>
                            <swiper-slide>
                              <div class="swiper_item swiper_item-thumb">
                                <img src="/item-4.svg" alt="" />
                              </div>
                            </swiper-slide>
                            <swiper-slide>
                              <div class="swiper_item swiper_item-thumb">
                                <img src="/item-5.svg" alt="" />
                              </div>
                            </swiper-slide>
                          </swiper>
                        </div>
                      </a-col>
                      <a-col>
                        <GButton
                          class="custom-swiper-button-next"
                          color="primary-100"
                          size="no-padding"
                        >
                          <img src="../assets/svg/vector-right.svg" alt="" />
                        </GButton>
                      </a-col>
                    </a-row>
                  </a-col>
                </a-row>
              </div>
            </a-col>
            <a-col flex="1">
              <a-row direction="vertical" :gutter="[48, 24]">
                <a-col span="24">
                  <div class="item_info">
                    <a-row :gutter="[48, 24]">
                      <a-col span="9">
                        <a-space :size="32" direction="vertical">
                          <div class="item_price">
                            <a-space :size="24" direction="vertical">
                              <GText color="pink">
                                166 534.00 цена без скидки
                              </GText>
                              <div class="price">
                                <a-space>
                                  <GText tag="strong" tg="heading-1-700">
                                    122 566 ₽
                                  </GText>
                                  <a-tag color="var(--color-pink)">
                                    <GText color="white">-15%</GText>
                                  </a-tag>
                                </a-space>
                              </div>
                              <div class="info">
                                <a-space :size="14">
                                  <a-tag color="var(--color-secondary-100)">
                                    <GText color="secondary">
                                      12 штук в уп.
                                    </GText>
                                  </a-tag>
                                  <a-switch
                                    v-model:checked="orderPacked"
                                  ></a-switch>
                                  <GText>Заказ упаковкой</GText>
                                </a-space>
                              </div>
                            </a-space>
                          </div>
                          <a-divider style="margin: 0"></a-divider>
                          <a-space :size="16">
                            <a-space direction="vertical" :size="4">
                              <GText>Завтра</GText>
                              <GText color="secondary" tg="paragraph-small">
                                Доставка
                              </GText>
                            </a-space>
                            <a-space direction="vertical" :size="4">
                              <GText>7 шт.</GText>
                              <GText color="secondary" tg="paragraph-small">
                                Тарасовка
                              </GText>
                            </a-space>
                            <a-space direction="vertical" :size="4">
                              <GText>7 шт.</GText>
                              <GText color="secondary" tg="paragraph-small">
                                Тарасовка
                              </GText>
                            </a-space>
                          </a-space>
                          <a-row :gutter="16">
                            <a-col flex="1">
                              <GButton @click="count++" v-if="!count">
                                <GText tg="paragraph-small" color="white">
                                  В корзину
                                </GText>
                              </GButton>
                              <GButton color="white" :border="true" v-else>
                                <a-row
                                  style="width: 100%"
                                  justify="space-between"
                                >
                                  <a-col @click.stop="count--">
                                    <img src="../assets/svg/minus.svg" alt="" />
                                  </a-col>
                                  <a-col>
                                    <GText>
                                      {{ count }}
                                      {{ "штук" + (count != 1 ? "и" : "a") }}
                                    </GText>
                                  </a-col>
                                  <a-col @click.stop="count++">
                                    <img src="../assets/svg/plus.svg" alt="" />
                                  </a-col>
                                </a-row>
                              </GButton>
                            </a-col>
                            <a-col>
                              <GButton color="primary-100">
                                <img src="../assets/svg/heart-def.svg" alt="" />
                              </GButton>
                            </a-col>
                          </a-row>
                        </a-space>
                      </a-col>
                      <a-col>
                        <a-divider
                          style="margin: 0; height: 100%"
                          type="vertical"
                        >
                        </a-divider>
                      </a-col>
                      <a-col flex="1">
                        <div class="characteristics">
                          <a-row :gutter="[32, 32]">
                            <a-col span="24">
                              <div class="characteristics_header">
                                <GText tg="heading-3">Характеристики</GText>
                              </div>
                            </a-col>
                            <a-col span="24">
                              <a-row :gutter="[32, 24]">
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>ELC00696</GText>
                                    <GText tg="paragraph-small"
                                      >Код поставщика</GText
                                    >
                                  </a-space>
                                </a-col>
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>ELC0200000696</GText>
                                    <GText tg="paragraph-small">Артикул</GText>
                                  </a-space>
                                </a-col>
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>ELC00696</GText>
                                    <GText tg="paragraph-small">Код РАЭК</GText>
                                  </a-space>
                                </a-col>
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>ELC00696</GText>
                                    <GText tg="paragraph-small">Код ЕТМ</GText>
                                  </a-space>
                                </a-col>
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>Electric used</GText>
                                    <GText tg="paragraph-small">Бренд</GText>
                                  </a-space>
                                </a-col>
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>ELC00696</GText>
                                    <GText tg="paragraph-small">Серия</GText>
                                  </a-space>
                                </a-col>
                                <a-col :sm="24" :md="12">
                                  <a-space direction="vertical">
                                    <GText>ELC0200000696</GText>
                                    <GText tg="paragraph-small"
                                      >Код производителя
                                    </GText>
                                  </a-space>
                                </a-col>
                              </a-row>
                            </a-col>
                          </a-row>
                        </div>
                      </a-col>
                    </a-row>
                  </div>
                </a-col>
                <a-col span="24">
                  <div class="description">
                    <a-space direction="vertical" :size="24">
                      <div class="description_header">
                        <GText tg="heading-2">Описание товара</GText>
                      </div>
                      <GText tg="paragraph">
                        Создание приверженного покупателя специфицирует
                        неопровержимый комплексный анализ ситуации. CTR
                        существенно индуцирует из ряда вон выходящий
                        SWOT-анализ. Воздействие на потребителя определяет
                        возрастающий интеграл по поверхности, что известно даже
                        школьникам. Отсюда естественно следует, что коммуникация
                        уравновешивает косвенный фактор коммуникации. Поле
                        направлений естественно допускает экспериментальный
                        скачок функции, таким образом сбылась мечта идиота -
                        утверждение полностью доказано. Арифметическая
                        прогрессия притягивает линейно зависимый пул лояльных
                        изданий.
                      </GText>
                    </a-space>
                  </div>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </div>
      </a-space>
    </div>
  </section>
</template>

<script setup>
import { ref } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";
import "swiper/css/free-mode";
import "swiper/css/navigation";
import "swiper/css/thumbs";
import { FreeMode, Navigation, Thumbs } from "swiper/modules";
const modules = [FreeMode, Navigation, Thumbs];

const count = ref(0);
const orderPacked = ref(false);

const thumbsSwiper = ref(null);

const swiper_thumbs = ref();

const setThumbsSwiper = (swiper) => {
  thumbsSwiper.value = swiper;
};
</script>
