<template>
  <a-space direction="vertical" :size="40">
    <div class="top">
      <a-row :gutter="28" justify="center">
        <a-col>
          <div class="footer_nav_item">
            <a-space>
              <img src="../../../assets/svg/file.svg" alt="" />
              <GText color="secondary"> PDF презентация </GText>
            </a-space>
          </div>
        </a-col>
        <a-col>
          <div class="footer_nav_item">
            <a-space>
              <img src="../../../assets/svg/video.svg" alt="" />
              <GText color="secondary"> Видео инструкция </GText>
            </a-space>
          </div>
        </a-col>
        <a-col>
          <div class="footer_nav_item">
            <a-space>
              <img src="../../../assets/svg/info.svg" alt="" />
              <GText color="secondary"> FAQ </GText>
            </a-space>
          </div>
        </a-col>
        <a-col>
          <div class="footer_nav_item">
            <a-space>
              <img src="../../../assets/svg/you-tube.svg" alt="" />
              <GText color="primary"> Мы на YouTube </GText>
            </a-space>
          </div>
        </a-col>
        <a-col>
          <div class="footer_nav_item">
            <GText color="secondary"> Политика конфиденциальности </GText>
          </div>
        </a-col>
        <a-col>
          <div class="footer_nav_item">
            <GText color="secondary"> Лицензионное соглашение </GText>
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="info">
      <GText color="secondary" tg="paragraph-400" center>
        Настоящая Политика обработки персональных данных разработана в
        соответствии с Конституцией Российской Федерации, Трудовым кодексом
        Российской Федерации, Гражданским кодексом Российской Федерации,
        Федеральным законом от 27 июля 2006 года 149-ФЗ "Об информации,
        информационных технологиях и о защите информации",
      </GText>
    </div>
    <div class="bottom">
      <a-row justify="center" align="middle" :gutter="24">
        <a-col>
          <img src="/Brand-mono.png" alt="" />
        </a-col>
        <a-col>
          <GText color="secondary"> Разработка платформы </GText>
        </a-col>
      </a-row>
    </div>
    <div></div>
  </a-space>
</template>
