<template>
  <section class="footer">
    <div class="container">
      <a-divider style="margin: 0 0 48px 0"></a-divider>
      <FooterTop></FooterTop>
      <a-divider style="margin: 48px 0"></a-divider>
      <FooterNavigation></FooterNavigation>
      <a-divider style="margin: 48px 0"></a-divider>
      <FooterBottom></FooterBottom>
    </div>
  </section>
</template>

<script setup>
import FooterNavigation from "./navigation.vue";
import FooterBottom from "./bottom.vue";
import FooterTop from "./top.vue";
</script>
