<template>
  <section class="footer_navigation">
    <a-row :gutter="[24, 24]">
      <a-col span="6">
        <a-space :size="24" direction="vertical">
          <div class="title">
            <GText>Женщинам</GText>
          </div>
          <a-space :size="16" direction="vertical">
            <GText tg="paragraph-small">Одежда</GText>
            <GText tg="paragraph-small">Обувь</GText>
            <GText tg="paragraph-small">Аксессуары</GText>
            <GText tg="paragraph-small">Белье</GText>
            <GText tg="paragraph-small">Bra fitting</GText>
          </a-space>
        </a-space>
      </a-col>
      <a-col span="6">
        <a-space :size="24" direction="vertical">
          <div class="title">
            <GText>Мужчинам</GText>
          </div>
          <a-space :size="16" direction="vertical">
            <GText tg="paragraph-small">Одежда</GText>
            <GText tg="paragraph-small">Обувь</GText>
            <GText tg="paragraph-small">Аксессуары</GText>
            <GText tg="paragraph-small">Белье</GText>
          </a-space>
        </a-space>
      </a-col>
      <a-col span="6">
        <a-space :size="24" direction="vertical">
          <div class="title">
            <GText>Детям</GText>
          </div>
          <a-space :size="16" direction="vertical">
            <GText tg="paragraph-small">Одежда</GText>
            <GText tg="paragraph-small">Обувь</GText>
            <GText tg="paragraph-small">Аксессуары</GText>
            <GText tg="paragraph-small">Белье</GText>
            <GText tg="paragraph-small">Игрушки</GText>
            <GText tg="paragraph-small">Малыши</GText>
          </a-space>
        </a-space>
      </a-col>
      <a-col span="6">
        <a-space :size="24" direction="vertical">
          <div class="title">
            <GText>Виды спорта</GText>
          </div>
          <a-space :size="16" direction="vertical">
            <GText tg="paragraph-small">Велоспорт</GText>
            <GText tg="paragraph-small">Туризм</GText>
            <GText tg="paragraph-small">Тренажеры и фитнес</GText>
            <GText tg="paragraph-small">Командные виды спорта</GText>
            <GText tg="paragraph-small">Самокаты</GText>
          </a-space>
        </a-space>
      </a-col>
    </a-row>
  </section>
</template>
