<template>
  <section class="footer_top">
    <a-row :gutter="[24, 24]" align="middle" justify="space-between">
      <a-col>
        <a-space :size="56">
          <div class="logo big">
            <img src="/Brand.png" alt="" />
          </div>
          <div class="info">
            <a-space :size="16" direction="vertical">
              <GText tag="a">8 800 841-95-95</GText>
              <GText tg="paragraph-small" color="secondary"
                >Служба поддержки</GText
              >
            </a-space>
          </div>
          <div class="info">
            <a-space :size="16" direction="vertical">
              <GText tag="a">support@sport.ru</GText>
              <GText tg="paragraph-small" color="secondary"
                >Служба поддержки</GText
              >
            </a-space>
          </div>
        </a-space>
      </a-col>
      <a-col>
        <a-space :size="32">
          <GText tag="a"> Вакансии </GText>
          <GText tag="a"> Блог </GText>
          <GText tag="a"> Акции </GText>
          <GButton color="primary-100">
            <GText color="primary">Предложить идею</GText>
          </GButton>
        </a-space>
      </a-col>
    </a-row>
  </section>
</template>
