<script setup>
import Header from "./components/layout/header.vue";
import Footer from "./components/layout/footer/index.vue";
import Content from "./components/content.vue";
import {
  ConfigProvider as AConfigProvider,
  Layout as ALayout,
} from "ant-design-vue";
</script>

<template>
  <a-config-provider
    :theme="{
      token: {
        colorPrimary: `#1551E5`,
      },
    }"
  >
    <a-layout style="background-color: unset">
      <Header></Header>
      <Content>JJJ</Content>
      <Footer></Footer>
    </a-layout>
  </a-config-provider>
</template>
