<template>
  <a-button :class="elementClass" :style="elementStyle" class="g-button">
    <slot></slot>
  </a-button>
</template>
<script setup>
import { computed } from "vue";

const $props = defineProps({
  icon: {
    type: String,
    default: "",
  },
  size: {
    type: String,
    default: "default",
  },
  color: {
    type: String,
    default: "primary",
  },
  borderColor: {
    type: String,
    default: "primary",
  },
  border: {
    type: Boolean,
    default: false,
  },
});

const elementClass = computed(() => [
  `g-button-kind-${$props.kind}`,
  `g-button-size-${$props.size}`,
  { "g-button-icon": $props.icon },
]);
const elementStyle = computed(() => {
  const includes = [`background: var(--color-${$props.color})`];
  if ($props.border) {
    includes.push(`border: 2px solid var(--color-${$props.borderColor});`);
  }
  return includes;
});
</script>

<style scoped lang="scss">
.ant-btn.g-button {
  width: 100%;
  height: 48px;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: unset;
  border-radius: 8px;
  padding: 12px 24px;
  span {
    transition: all 0.2s ease-in-out;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 0.43px;
  }
  img {
    height: 24px;
    width: 24px;
  }

  &-size {
    &-small {
      padding: 8px 12px;
      height: auto;
    }
    &-no-padding {
      padding: 0 0;
      height: 100%;
    }
  }
}
</style>
