<template>
  <component
    @click="handleClick"
    :is="$props.tag"
    :style="{
      color: `var(--color-${$props.color})`,
      whiteSpace: $props.nowrap ? 'nowrap' : '',
      textAlign: $props.center ? 'center' : '',
      textTransform: $props.textTransform,
    }"
    :class="'t-text-' + $props.tg"
    class="t-text"
  >
    <slot></slot>
  </component>
</template>
<script setup>
const $props = defineProps({
  tag: {
    type: String,
    default: "p",
  },
  color: {
    type: String,
    default: "body-text",
  },
  tg: {
    type: String,
    default: "paragraph-600",
  },
  nowrap: {
    type: Boolean,
    default: false,
  },
  center: {
    type: Boolean,
    default: false,
  },
  textTransform: {
    type: String,
    default: "unset",
  },
});
const emit = defineEmits(["click"]);
const handleClick = (event) => {
  emit("click", event);
};
</script>
<style lang="scss">
@import "@/assets/scss/_typography";

.t-text {
  margin: 0;
  display: block;
  &-display-1 {
    @include display-1;
  }
  &-display-2 {
    @include display-2;
  }
  &-display-3 {
    @include display-3;
  }
  &-display-4 {
    @include display-4;
  }
  &-heading-1 {
    @include heading-1;
    &-500 {
      @include heading-1($weight: 500);
    }
    &-600 {
      @include heading-1($weight: 600);
    }
    &-700 {
      @include heading-1($weight: 700);
    }
  }
  &-heading-2 {
    @include heading-2;
  }
  &-heading-3 {
    @include heading-3;
  }
  &-heading-4 {
    @include heading-4;
  }
  &-heading-5 {
    @include heading-5;
  }
  &-heading-6 {
    @include heading-6;
  }

  &-paragraph {
    &-lead {
      @include paragraph-lead;
    }
    @include paragraph;
    &-500 {
      @include paragraph($weight: 500);
    }
    &-600 {
      @include paragraph($weight: 600);
    }
    &-700 {
      @include paragraph($weight: 700);
    }
    &-small {
      @include paragraph-small;
      &-600 {
        @include paragraph-small($weight: 600);
      }
      &-700 {
        @include paragraph-small($weight: 700);
      }
    }
  }
  &-input {
    &-large {
      @include input-large($color: var(--color-heading-text));
    }
    &-default {
      @include input-default($color: var(--color-heading-text));
    }
    &-small {
      @include input-small($color: var(--color-heading-text));
    }
  }
  &-delete {
    @include delete;
  }
  &-italicized {
    @include italicized;
  }
  &-underline {
    @include underline;
  }
  &-caption {
    @include caption;
  }
}
</style>
